<footer class="footer">
  <small>
    <a href="http://bluebox.cc">McKinsey Alumni Communities</a>
    by Emmanuel Valjavec
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blubox.cc/">News</a></li>
    </ul>
  </nav>
</footer>